astroid==2.15.6
autopep8==2.0.2
Brotli==1.0.9
dill==0.3.6
inflate64==0.3.1
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
multivolumefile==0.2.3
platformdirs==3.8.1
psutil==5.9.5
py7zr==0.20.5
pybcj==1.0.1
pycodestyle==2.11.0
pycryptodomex==3.18.0
pylint==2.17.5
pyppmd==1.0.0
pyzstd==0.15.9
texttable==1.6.7
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.7.1
wrapt==1.15.0
